h1.profile {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 3.6rem;
    margin-top: 40px;
}

span.barra {
    margin: 10px auto 0px;
    width: 100%;
    height: 10px;
    background: linear-gradient(90deg, #009BFF 0%, rgba(227, 17, 17, 0.85) 100%);
}

form.profile {
    margin: 0px auto;
    padding: 40px;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 155, 255, 0.15) 0%, rgba(227, 17, 17, 0.1) 100%);

    display: flex;
    flex-direction: column;
}

form.profile div.field-group {
    /*margin: 0px auto auto 0px;*/
    /*padding: 40px;*/
    width: 100%;
    height: 100px;
    /*background: black;*/

    display: flex;
    flex-direction: row;
}
  
form.profile div.field-group div.field {
    flex: 1;
    display: flex;
    flex-direction: column;
}

form.profile div.field-group div.field label {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 2.0rem;
    margin-bottom: 10px;
}

form.profile div.field-group div.field input[type=text],
form.profile div.field-group div.field input[type=email],
form.profile div.field-group div.field input[type=password] {
    /*flex: 1;*/
    height: 30px;
    width: 90%;
    background: #ffffff;
    border-radius: 8px;
    border: 0;
    padding-left: 10px;
    font-size: 1.6rem;
    color: #000000;
    margin-bottom: 10px;
}

form.profile div.field-group div.field input#email,
form.profile div.field-group div.field input#cep,
form.profile div.field-group div.field input#neighborhood,
form.profile div.field-group div.field input#reference,
form.profile div.field-group div.field input#whatsapp {
    width: 45%;
}

form.profile div.field-group.description {
    /*margin: 0px auto auto 0px;*/
    /*padding: 40px;*/
    height: 300px;
    /*background: black;*/
}

form.profile div.field-group div.field input#description {
    height: 100%;
    width: 95%;
}

form.profile div.field-group div.field input:focus {
    outline: none !important;
    border:2px solid #38607A;
}

form.profile div.field-group div.button-group {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30px;
  /*background-color: chartreuse;*/
}

form.profile button.schedule {
  width: 120px;
  height: 40px;
  background: #009BFF;
  border-radius: 8px;
  color: #FFF;
  font-weight: bold;
  font-size: 1.6rem;
  border: 0;
  align-self: center;
  margin-top: 20px;
  transition: background-color 0.2s;
  cursor: pointer;
}

form.profile button.schedule:hover {
  background: #0089E1;
}

form.profile p {
    font-size: 2.0rem;
    margin-top: 30px;
}

form.profile button.upload {
    background: #2C85BF;
    color: #ffffff;
    border-style: none;
    width: 80px;
    height: 30px;
    border-radius: 4px;
    margin-top: 10px;
}