h1.login {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 3.6rem;
  margin-top: 40px;
}

  span.barra {
    margin: 10px auto 0px;
    width: 100%;
    height: 10px;
    background: linear-gradient(90deg, #009BFF 0%, rgba(227, 17, 17, 0.85) 100%);
  }
  
  form.login {
    margin: 0px auto;
    padding: 40px;
    width: 100%;
    height: 300px;
    background: linear-gradient(90deg, rgba(0, 155, 255, 0.15) 0%, rgba(227, 17, 17, 0.1) 100%);

    display: flex;
    flex-direction: row;
  }

  form.login div.field-group {
    /*margin: 0px auto auto 0px;*/
    /*padding: 40px;*/
    width: 450px;
    height: 220px;
    /*background: black;*/

    display: flex;
    flex-direction: column;
  }
  
  form.login div.field-group div.field {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  form.login div.field-group div.field label {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  form.login div.field-group div.field input[type=text],
  form.login div.field-group div.field input[type=email],
  form.login div.field-group div.field input[type=password] {
    /*flex: 1;*/
    height: 30px;
    width: 450px;
    background: #ffffff;
    border-radius: 8px;
    border: 0;
    padding-left: 10px;
    font-size: 16px;
    color: #000000;
    margin-bottom: 10px;
  }

  form.login div.field-group div.field input:focus {
    outline: none !important;
    border:2px solid #38607A;
}

form.login div.field-group div.button-group {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30px;
  /*background-color: chartreuse;*/
}

form.login div.field-group div.button-group button {
  width: 99px;
  height: 30px;
  background: #009BFF;
  border-radius: 8px;
  color: #FFF;
  font-weight: bold;
  font-size: 1.6rem;
  border: 0;
  align-self: flex-start;
  margin-bottom: 0;
  transition: background-color 0.2s;
  cursor: pointer;
}

form.login div.field-group div.button-group a {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.4rem;
  /*line-height: 38px;*/
  /* or 271% */
  color: var(--primary-color);
  /*background-color: brown;*/
  margin-right: 0;
  margin-left: auto;
  align-self: center;
  

  text-decoration-line: underline;
}

form.login .field-group .button-group button:hover {
  background: #0089E1;
}

form.login main {
  width: 450px;
  margin-right: 0;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background-color: tomato;*/
}

form.login main h6 {
  /*margin-left: 135px;*/
  margin-top: 50px;
  /*background-color: chartreuse;*/
  width: 300px;
  height: 40px;
}

form.login main div button {
  width: 120px;
  height: 40px;
  background: #009BFF;
  border-radius: 8px;
  color: #FFF;
  font-weight: bold;
  font-size: 1.6rem;
  border: 0;
  cursor: pointer;

  /*margin-left: 135px;*/
  margin-bottom: 70px;
  margin-top: auto;
}

form.login main div button:hover {
  background-color: var(--secondary-color);
}