main.home {
  width: 100%;
  /*max-height: 600px;*/
  height: 100%;
  margin: 30px 0 0;

  display: flex;
  flex-direction: column;
  justify-content: top;

  /*background-color: tomato;*/
}

main.home h1.home {
  font-size: 4.6rem;
  color: var(--title-color);
  max-width: 600px;
  width: 100%;

  /*background-color: teal;*/
}

main.home p {
  font-size: 2.0rem;
  margin-top: 20px;
  line-height: 38px;
  max-width: 500px;
  width: 100%;
  color: var(--primary-color);

  /*background-color: yellowgreen;*/
}

main.home a {
  width: 100%;
  max-width: 275px;
  height: 57px;
  background: var(--tertiary-color);
  border-radius: 8px;
  text-decoration: none;
  display: flex;
  align-items: center;
  overflow: hidden;

  margin-top: 30px;
}

main.home a span {
  background: rgba(0, 0, 0, 0.08);
  width: 72px;
  height: 72px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

main.home a span svg {
  color: #FFF;
  width: 20px;
  height: 20px;
}

main.home a strong {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.8rem;
  flex: 1;
  text-align: center;
  color: #FFF;
}

main.home a:hover {
  background: #0089E1;
}

@media(max-width: 800px) {
  main.home {
    align-items: center;
    transition: all 200ms;
  }

  main.home h1.home {
    text-align: center;
    font-size: 3.0rem;
    transition: all 200ms;
  }

  main.home p {
    text-align: center;
    font-size: 1.8rem;
    transition: all 200ms;
  }

  main.home a {
    max-width: 200px;
    height: 44px;
  }

  main.home a strong {
    font-size: 1.4rem;
  }
}

@media(max-width: 600px) {
  main.home {
    margin-top: 50px;
  }

  main.home h1.home {
    text-align: center;
    font-size: 2.6rem;
    transition: all 200ms;
  }

  main.home p {
    text-align: center;
    font-size: 1.6rem;
    margin-top: 40px;
    transition: all 200ms;
  }

  main.home a {
    max-width: 200px;
    height: 44px;
    margin-top: 60px;
  }

  main.home a strong {
    font-size: 1.4rem;
  }
}