div.menu-section a.login {
    width: 99px;
    background-color: #009BFF;
    border-radius: 8px;
    font-weight: bold;
    line-height: 30px;
    color: white;
    margin-right: 0;
}

div.menu-section a.login:hover {
    background: #0089E1;
}

div.menu-section p.hello {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin-right: 20px;
    color: #2C85BF;
}

div.menu-section button.arrow {
    width: 30px;
    height: 30px;
    background-color: #009BFF;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    border-style: none;
    cursor: pointer;
}
  
div.menu-section a {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    margin-right: 80px;
    transition: margin-right 200ms;
    /*background-color: green;*/
}
  
@media(max-width: 1000px){
    div.menu-section nav ul li a {
        margin-right: 40px;
        transition: margin-right 200ms;
    }
}

@media(max-width: 800px){

    div.menu-section a.login {
        all: inherit;
    }

    div.menu-section .hamburguer-menu-link {
        text-decoration: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        color: white;
        font-size: 3rem;
        line-height: 8rem;
        width: 100%;
    }

    div.menu-section .hamburguer-menu-link.button {
        background-color: transparent;
        cursor: pointer;
        outline: none;
        border: 0;
    }


    div.menu-section .hamburguer-menu-link:hover {
        background-color: var(--secondary-color);
    }

    div.menu-section p.hello-hamburguer {
        font-family: Ubuntu;
        font-style: normal;
        font-weight: normal;
        font-size: 2rem;
        line-height: 16px;
        text-align: center;
        color: #fff;
    }
}

@media(min-width: 801px){

    div.menu-section nav ul li a span:hover {
        color: #0089E1;
    }
}