:root {
    --primary-color: #38607A;
    --secondary-color: #2C85BF;
    --tertiary-color: #009BFF;
    --title-color: #38607A;
    --text-color: #38607A;
    font-size: 62.5%;
    margin-top: 0 !important;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #F0F0F5;
    -webkit-font-smoothing: antialiased;
    color: var(--text-color);
    font-size: 1.6rem;
  }
  
  body, input, button {
    font-family: Roboto, Arial, Helvetica, sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
    font-family: Ubuntu;
  }

  p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
  }
  